body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login-pane {
  border: 1px solid black;
  border-radius: 4px;
  padding-bottom: 20px;
}

header {
    background-color: #D8D8D8;
}
